/* Navbar Styles */
.navbar {
    background-color: #111827;
    height: 7rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Navbar container for centering */
.navbar__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

/* Logo centered */
.navbar__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar__logo img {
    max-height: 100px;
}

/* Menu items */
.navbar__menu {
    display: flex;
    gap: 2rem;
}

.navbar__list {
    display: flex;
    gap: 2rem;
    
}

.navbar__list li {
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.navbar__list a {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar__list a:hover {
    color: #777;
}

/* Right side links */
.navbar__right {
    display: flex;
    gap: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar__right a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar__right a:hover {
    color: #777;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropdown__button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    outline: none;
}

/* Dropdown menu */
.dropdown__menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0; 
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    min-width: 250px;
    overflow: hidden;
}

/* Dropdown menu links */
.dropdown__menu a {
    display: block;
    padding: 10px 15px;
    color: #111827;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.dropdown__menu a:hover {
    background-color: #f5f5f5;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown__menu {
    display: block;
}

.dropdown__title {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    color: #111827;
    padding: 10px 15px;
    font-family: 'Cinzel', serif;
}

/* Dropdown greeting */
.dropdown__greeting {
    padding: 10px 15px;
    color: #111827;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}