/* Navbar Styles */
.navbar {
    background-color: #111827;
    height: 7rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Navbar container for centering */
.navbar__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

/* Logo centered */
.navbar__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar__logo img {
    max-height: 100px;
}

/* Menu items */
.navbar__menu {
    display: flex;
    gap: 2rem;
}

.navbar__list {
    display: flex;
    gap: 2rem;
    
}

.navbar__list li {
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.navbar__list a {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar__list a:hover {
    color: #777;
}

/* Right side links */
.navbar__right {
    display: flex;
    gap: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar__right a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar__right a:hover {
    color: #777;
}